@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import "tailwindcss";

@theme {
  --color-whitish: hsl(0, 0%, 97%);
  --color-orangish: hsl(20, 100%, 49%);
  --font-outfit: "Outfit", sans-serif;
  --font-youngSerif: "Young Serif", serif;
  --font-BG: "Bricolage Grotesque", sans-serif;
}
